body {
    background: linear-gradient(
        to right,
        #8a2387,
        #e94057,
        #d05e17
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    height: 250px;
    border: 2px solid #f5deb3;
    border-radius: 10px;
    background-color: #e06979;
    padding-left: 10px;
    box-shadow: 0 30px 45px rgba(26, 26, 26, 0.2);
}

.info {
    font-size: 1.1rem;
}

.radio_btn {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.email {
    width: 70%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding-inline-start: 10px;
}

.buttons {
    margin: 10px 0;
}

.btn {
    padding: 10px 5px;
    border: 0;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
}
